* {
    max-width: 1000px;
    margin: auto;
    font-family: 'Manjari', sans-serif;
    text-align: center
}

/*--------------------WELCOME INDEX SITE - HEADER ----------*/

header, footer {
    background-image: url(./img/erda-estremera-unsplash.jpg);
    font-family: 'Quicksand', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 900;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    padding: 2%;
}

h1 {
    text-align: center;
    padding: 5% 1% 1% 1%;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    padding-right: 1%;
    letter-spacing: 0.2em;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
/*-------------------- navigation: LOve F HAte----------*/

header a:link {
    color: rgb(21, 87, 230);
}

header a:visited {
    color: rgb(247, 10, 10);
}

header a:focus {
    border: 1px soli red;
    background-color: yellow;
    color: #000;
}

header a:hover {
    color: #fff;
    cursor: pointer;
}

header a:active {
    color: rgb(240, 240, 15);
    border: 1px solid #000;
    background-color: #000;
}

/*----------- h4: headline on every site --------*/

h4 {
    letter-spacing: 0.3em;
    line-height: 1.9em;
}
.welcome-text {
    text-align: center;
    width: 70%;
    padding: 0 15%;
    line-height: 1.7em;
    font-size: 17px;
    font-weight: 700;
}

/*--------------- this class stands for all texts, paragraphs -----*/

.blabla {
    line-height: 1.7em;
    padding: 0 20%;
    text-align: justify;
}

footer p {
    text-align: center;
    padding: 0.5% 0;
}

/*----------------------------- ABOUT --------------------------------*/

.foto {
    display: flex;
    justify-content: center;
}

img {
    height: 40%;
    width: 30%;
    border-radius: 5%;
}

/*----------------------------- MOVIES --------------------------------*/

.movies {
    width: 60%;
    display: inline;
    border: 2% solid #fff;
}

.movies th {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: 700;
    background-color: rgb(247, 10, 10);
    color: #fff;
    padding: 1.5%;
}

.movies td {
    background-color: rgb(213, 232, 241);
    color: #000; 
    padding: 1.5%;
    text-align: center;
    }

/*----------------------------- LINKS - WEBSITES --------------------------------*/

#websites ul {
    line-height: 1.7em;
    padding-left: 5%;
    text-align: left;
}

#websites li {
    display: block;
    text-align: left;
    padding-left: 5%;
}

#websites ul li {
    display: block;
    text-align: left;
}

small {
    color: rgb(155, 153, 153);
    font-style: oblique;
}

/*---------------------------- CONTACT ---------------------------*/

input[type=text], input[type=email], select, textarea {
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4%;
    margin: 0.5% 35%;
    padding: 1%;
}

label {
    padding: 0.5% 0%;
}

input[type=submit] {
    padding: 0.5% 1%;
    border: 1px solid #000;
    border-radius: 7%;
    color: #fff;
    background-color: black;
    letter-spacing: 0.1em;
    font-weight: 700;
}